.react-tabs {
  -webkit-tap-highlight-color: transparent;
}

.react-tabs__tab-list {
  border-bottom: 1px solid rgb(229,230,232,147);
  margin: 0 0 10px;
  padding-left: 1em;
  width:100%;
}

.react-tabs__tab {
  display: inline-block;
  border-bottom: none;
  bottom: -1px;
  position: relative;
  list-style: none;
  padding: 6px 12px;
  cursor: pointer;
  font-style: bold;
  font-size: 9px;
  padding:1em;
  color: rgb(126,135,134,116);
  margin-left: 1em;
}

.react-tabs__tab--selected {
  background: rgb(244,245,247,147);
  border-color: #aaa;
  color: rgb(131,193,110,70);
  border-radius: 2px 2px 0 0;
  border-top-style: solid;
  border-top-width: 2px;
  border-top-color: rgb(131,193,110,70);
}

.react-tabs__tab:hover {
  background: rgb(232,233,235,147);
  
}


.react-tabs__tab--disabled {
  color: GrayText;
  cursor: default;
}

.react-tabs__tab:focus {
  box-shadow: 0 0 5px hsl(208, 99%, 50%);
  border-color: hsl(208, 99%, 50%);
  outline: none;
}

.react-tabs__tab:focus:after {
  content: "";
  position: absolute;
  height: 5px;
  left: -4px;
  right: -4px;
  bottom: -5px;
}

.react-tabs__tab-panel {
   background-color: rgb(244,245,247,147);
}

.react-tabs__tab-panel--selected {
  display: block;
}